# Auto detect text files and perform LF normalization
* text=auto
# exclude shader files from language detection
Assets/TextMesh*Pro/Shaders/* linguist-vendored=true
Assets/TextMesh*Pro/Shaders/TMP_SDF SSD.shader linguist-vendored=false
Assets/TextMesh*Pro/Shaders/TMPro_Mobile.cginc linguist-vendored=false